@charset "UTF-8";

html { line-height: 1.15; /* Correct the line height in all browsers */ 
    -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. */ 
}

a { 
    background-color: transparent; /* Remove the gray background on active links in IE 10. */ 
}

img { 
    border-style: none; /* Remove the border on images inside links in IE 10. */ 
    display: block;
}

.questDiv{
    display:none;
}
body { 
    margin: 0; 
}
.ansinput {
    position: relative;
    width: 30%;
    left: 12%;
}
.background {
    z-index: 1;
    position: absolute;
}
.queststring{
    font-size: 2vmin;
    line-height: 2vmin;
    font-family:"微軟正黑體";
    font-weight:bold;
    position: absolute;
    padding: 14%;
}
.nextStageMsg{
    font-size: 2vmin;
    line-height: 2vmin;
    font-family:"微軟正黑體";
    font-weight:bold;
    color: red;
    position: absolute;
    padding: 45% 12% 40% 14%;
}
.questbg{
    position:absolute;
}
.questCImg{
    position: relative;
    width: 40%;
    margin-left: 54%;
    padding-top: 16%;
    margin-bottom: 10%;
}
.questBImg{
    position: relative;
    width: 24%;
    margin-left:23%;
    float: left;
    padding-top: 16%;
}
.questAImg{
    position: relative;
    width: 44%;
    margin-left: 50%;
    padding-top: 21%;
    margin-bottom: 10%;
}
.quest {
    position: relative;
    z-index: 2;
    width: 50%;
    border: none;
    display: inline-block;
    padding: 10px 5px;
}
.send {
    z-index: 2;
    position: relative;
    width: 19%;
    margin: 0% 10% 0 10px;
}
.ansimg{
    position: relative;
    z-index: 2;
    width: 20%;
    display: inline-block;
}

.inputDiv{
    display: flex;
    margin: 0 0 0 12%;
}

.startrune{
    width:30%;
    position:relative;
    margin-left: 60%;
    padding-top: 15%;
    
}
.testDiv{
    margin-top: 4%;
}